<div class="noteModal">
    <div class="box modal-content">
        <div class="content">
            <h3 class="title" >Editando una nota {{note.id}}</h3>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Título" formControlName="name" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="Cuerpo de la nota" formControlName="body"></textarea>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" type="submit">Guardar</button>
                    </div>
                    <div class="control">
                        <a class="button is-text">Cancelar</a>
                    </div>
                    <div class="control">
                        <a class="button is-text has-text-danger is-fullwidth" (click)="delete(id)">Eliminar esta nota</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>